.button {
  color: #fff;
  text-transform: uppercase;
  padding: 1rem 2rem;
  border: 1px solid #fff;
  opacity: 0.5;
  max-width: 10rem;
  max-height: 5rem !important;
  text-align: center;

  /* Just this part handles the background */
  background-image: linear-gradient(to right, #111, #111 50%, transparent 50%);
  background-size: 201% 100%;
  background-position: 100%;
  transition: all 0.5s cubic-bezier(0, 0, 0.23, 1);

  p {
    margin: 0 !important;
    transition: all 0.6s cubic-bezier(0, 0, 0.23, 1);
  }
}

.button:hover {
  background-position: 0%;
  opacity: 1;
  border: 1px solid #b85;

  p {
    // background: -webkit-linear-gradient(right,  rgba(255,0,0,1) 0%,rgba(255,255,0,1) 19%,rgba(0,255,0,1) 38%,rgba(0,255,255,1) 51%,rgba(0,0,255,1) 67%,rgba(255,0,255,1) 83%,rgba(255,0,0,1) 99%); /* Chrome10+,Safari5.1+ */
    // -webkit-background-clip: text;
    // background-clip: text;
    // -webkit-text-fill-color: transparent;
    color: #b85;
    cursor: pointer;
  }
}
