.fancy {
  -webkit-text-stroke: 0.03em white;
  color: transparent;
  background-clip: text;
}

.glow {
  -webkit-text-stroke: 0.06em transparent;
  background: -webkit-linear-gradient(
    right,
    $yellow 19%,
    $green 38%,
    $purple 67%,
    $red 99%
  ); /* Chrome10+,Safari5.1+ */
  -webkit-background-clip: text;
  background-clip: text;
  // text-shadow: 0px 0px 10px white;
  color: rgba(0, 0, 0, 0.8);
}
