
.hero-container {
    display: flex;
    height: 100vh;
    width: 100%;
    position: relative;
    margin: 0;
    overflow: hidden;


    @include md {
        scroll-snap-align: start;
    }

        
    .image {
        position: absolute;
        z-index: -1;
        height: 100vh;
        width: 100%;
        object-fit: cover;
    }   

    .main {
        position:absolute;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 5;

        h1{
            color: white;
            font-size: 2rem;
            letter-spacing: 5px;
            opacity: 0.5;
            padding: 0 1rem;

            @include md {
                font-size: 2.5rem
            };
        }

        p{
            color: white;
            font-size: 0.8rem;
            letter-spacing: 3.2px;
            margin-bottom: 2rem;
            opacity: 0.5;


            @include md {
                font-size: 1.2rem;
            }
        }



    }
    
}

