
.nav{
    display: flex;
    flex-direction: row;
    width: 99%;
    z-index: 9999;
    position:fixed;
    

    .hamburger {
        z-index: 3;
        color: white;
        margin: 1rem 2rem;
        
        i{
            
            &::before {
                font-size: 2rem;

                @include md {
                    font-size: 2.1rem;
                }
            }
            
        }
    }

    .nav-brand {
        letter-spacing: 4.8px;
        font-family:$font ;
        font-weight: 400; 
        color: white;
        margin-top: 0.8rem;
        cursor: point;

        span{
            text-decoration: none;
            color: white;
            font-size: 2rem;
            font-weight: 500;
        }
    }
    .nav-cover {
        width: 90vw;
        height: 100vh;
        background: black;
        position: absolute;
        top:0;
        left: 0;
        z-index: -1;

        // @include md {
        // width: 20rem;
        // height: 20rem;
        // }
    


    }

}

.dropdown {
        position: absolute;
        top:5rem;
        z-index: 110;
        list-style-type: none;
        padding-left: 2rem;
        margin: 0;

        .nav-item{
            font-size: 1.5rem;
            margin-bottom: 1rem;
            letter-spacing: 4.7px;
            font-family: $font;
            font-weight: 700;
            width:300px;
            cursor: pointer;
            z-index: 999999;

            @include md {
                font-size: 2rem;
            }

            a{
                color: white;
            }
        }
    
}   






