

.navbar{
    z-index: 9999;
    position: fixed;
    display: flex;
    flex-direction: row;

    .nav{
        display: flex;
        flex-direction: row;
        width: 100vw;
        justify-content: space-between;

        .menu-container{
            display: flex;
            flex-direction: row;

            .circle-container {
                display: absolute;
                width: 3.5rem;
                z-index: 99;

                @include md {
                    width: 6rem;
                }
                
                .circle {
                    width: 15rem;
                    height: 18rem;
                    background: black;
                    position: absolute;
                    border-bottom-right-radius: 2rem;
                    z-index: -1;

                    @include md {
                    width: 20rem;
                    height: 20rem;
                    }
                }
                
            
                .hamburger {
                    position:absolute;
                    left: 1rem;
                    top: 2rem;
                    z-index: 3;

                    @include md {
                        left: 2.9rem;
                    }
                    
                    i{
                        
                        &::before {
                            font-size: 2rem;

                            @include md {
                                font-size: 2.1rem;
                            }
                        }
                        
                    }
                }
        
            }
        
            .nav-brand {
                margin-top: 1.6rem;
                letter-spacing: 4.8px;
                font-family:$font ;
                font-weight: 400; 
                z-index: 100;
                color: white;
                cursor: point;

                span{
                    text-decoration: none;
                    color: white;
                    font-size: 2rem;
                    font-weight: 500;
                }
            }
        }

        .price-btn {
           
                display: none;

                @include md {
                    display: block ;
                }
            
        }

    }

    .dropdown {
            position: absolute;
            top:7rem;
            z-index: 110;
            list-style-type: none;
            padding-left: 2rem;
            margin: 0;

            .nav-item{
                font-size: 1.5rem;
                margin-bottom: 1rem;
                letter-spacing: 4.7px;
                font-family: $font;
                font-weight: 700;
                // color: white; // this will be dynamically rendered
                // overflow: hidden;
                width:300px;
                cursor: pointer;
                z-index: 999999;

                @include md {
                    font-size: 2rem;
                }

                a{
                    color: white;
                }
            }
        
    }   
}





