.payment {
  // scroll-snap-align: start;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // margin: 0 auto;
  padding: 4rem 3rem;
  // height: 100%;

  // @include md {
  //   height: 100vh;
  //   // padding: 4rem 6rem;
  // }

  h1 {
    letter-spacing: 7px;
    margin-bottom: 3rem;
    font-family: $bold;
    -webkit-text-stroke: 0.06em black;
  }

  .payment-form {
    font-family: $font;

    input:invalid {
      border: 0.2em solid red;
    }

    .tiers {
      margin-bottom: 3rem;

      p {
        font-size: 1rem;
        letter-spacing: 2px;

        @include md {
          font-size: 1.3rem;
        }
      }

      .labels {
        display: flex;
        flex-direction: column;

        @include md {
          flex-direction: row;
        }

        label {
          font-weight: 700;
          margin: 0.2rem 0;
          letter-spacing: 3.7px;

          @include md {
            margin: 0 1rem;
          }

          i {
            margin-right: 0.2rem;
            &::before {
              max-width: 0.5rem;
            }
          }

          input {
            margin: 0 0.5rem 0 0;
            max-width: 1rem;
          }
        }
      }
    }

    //only part 2 & 3 of the form
    .credentials {
      display: flex;
      flex-direction: column;
      justify-content: left;
      margin-bottom: 2rem;

      @include md {
        flex-direction: row;
      }

      p {
        font-size: 1rem;
        letter-spacing: 2px;

        @include md {
          font-size: 1.3rem;
          letter-spacing: 2px;
        }
      }

      span {
        overflow: hidden;
        height: 4rem;

        input {
          border: 1px solid black;
          width: 80%;
          height: 40%;
          // padding: 0;
          // margin: 0;

          @include md {
            max-width: 80%;
          }

          &:focus {
            outline: none;
            border-bottom: 3px solid $yellow;
          }
        }
        .invalid {
          border: 2px solid red !important;
        }

        .valid {
          border: 2px solid $green !important;
        }

        label {
          font-size: 0.7rem;
          font-weight: 600;
          margin-bottom: 0.4rem;
        }
      }

      .credit {
        @include md {
          margin-left: 10%;
        }
      }

      // two input in a div that has row flex**
      .split {
        display: flex;
        flex-direction: column;
        width: 100%;

        @include md {
          flex-direction: row;
        }

        span {
          // &:last-child{

          //     @include md {
          //         margin-left: auto;
          //     }
          // }

          input {
            width: 40%;

            @include sm {
              width: 50%;
            }
          }
        }
      }
    }

    .terms {
      width: 80%;
      font-size: 0.7rem;
      letter-spacing: 2px;

      @include md {
        width: 40%;
      }

      span {
        color: #2f1fe9;
        font-weight: 600;
        cursor: pointer;
      }
    }

    .payment-btn {
      margin-top: 2rem;
    }
  }

  .loader {
    margin: auto;
    // padding: auto 0;
    display: flex;
    align-content: center;
    justify-content: center;
    height: 100vh;
    text-align: center;

    .loader-content {
      margin: auto;

      h2 {
        font-size: 1rem;
        margin: 0;
        font-family: $font;
      }
      img {
        max-width: 250px;
      }
    }
  }

  .confirmation-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    i {
      font-size: 2em;
      margin-bottom: 0.5em;
    }

    h1 {
      font-size: 1.6em;
      margin: 0;
      letter-spacing: 2px;

      @include md {
        font-size: 2.3rem;
      }
      span {
        text-transform: capitalize;
      }
    }

    p {
      font-family: $font;
    }
    .order-details {
      border: 1px solid $black;
      border-radius: 0.2em;
      padding: 0.5em;
    }

    .confirm-btn {
      // margin-top: 2em;
      font-family: $font;
      margin: 2em auto 0 auto;
    }
  }

  .payment-btn {
    border: none;
    padding: 0;
    background-color: white;
  }
}
