.payment {
  // scroll-snap-align: start;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 4rem 3rem;

  @include md {
    height: 100vh;
    padding: 4rem 6rem;
  }

  h1 {
    letter-spacing: 7px;
    margin-bottom: 3rem;
    font-family: $bold;
    -webkit-text-stroke: 0.06em black;
  }

  .payment-form {
    width: 100%;
    font-family: $font;

    .tiers {
      margin-bottom: 3rem;

      p {
        font-size: 1rem;
        letter-spacing: 4px;

        @include md {
          font-size: 1.3rem;
        }
      }

      .labels {
        display: flex;
        flex-direction: column;

        @include md {
          flex-direction: row;
        }

        label {
          font-weight: 700;
          margin: 0.2rem 0;
          letter-spacing: 3.7px;

          @include md {
            margin: 0 1rem;
          }

          i {
            margin-right: 0.2rem;
            &::before {
              max-width: 0.5rem;
            }
          }

          input {
            margin: 0 0.5rem 0 0;
            max-width: 1rem;
          }
        }
      }
    }

    //only part 2 & 4 of the form
    .credentials {
      display: flex;
      flex-direction: column;
      justify-content: left;
      margin-bottom: 2rem;

      @include md {
        flex-direction: row;
      }

      p {
        font-size: 1rem;
        letter-spacing: 4px;

        @include md {
          font-size: 1.3rem;
          letter-spacing: 4.4px;
        }
      }

      span {
        overflow: hidden;
        height: 5rem;

        input {
          border: 1px solid black;
          width: 50%;
          height: 40%;
          padding: 0;
          margin: 0;

          @include md {
            width: 99%;
          }

          &:focus {
            outline: none;
            border-bottom: 3px solid #2f1fe9;
          }
        }

        label {
          font-size: 0.7rem;
          font-weight: 600;
          margin-bottom: 0.4rem;
        }
      }

      .credit {
        @include md {
          margin-left: 10%;
        }
      }

      // two input in a div that has row flex**
      .split {
        display: flex;
        flex-direction: column;
        width: 100%;

        @include md {
          flex-direction: row;
        }

        span {
          // &:last-child{

          //     @include md {
          //         margin-left: auto;
          //     }
          // }

          input {
            width: 50%;
          }
        }
      }
    }

    .terms {
      width: 80%;
      font-size: 0.7rem;
      letter-spacing: 2px;

      @include md {
        width: 40%;
      }

      span {
        color: #2f1fe9;
        font-weight: 600;
        cursor: pointer;
      }
    }

    .payment-btn {
      margin-top: 2rem;
    }
  }
}
