
.price {
    background-color: #191919;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-content: center;
    height: 100%;
    width: 100%;
    padding: 5rem 0;
   

    @include lg {
        height: 100vh;
        padding: 1rem 0 5rem 0;
    }

    .main{
        padding: 0 1rem;
        margin: 0 auto 2rem auto;
       

        // @include lg {
        //     margin-left: 13rem;
        //     margin-right: 10rem;
        //     // margin-top: 3rem;
    
        // }

        h1{
            letter-spacing: 7.4px;
            font-family: $bold;
        }

        p{
            letter-spacing: 4px;
            font-size: 1rem;
            font-family: $font;
            margin: 0.5rem 0;

            @include md {
                font-size: 2rem;
            }
        }
    }

    .plans{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        justify-content: center;
        min-width: 100vw;

        @include lg {
            flex-direction: row;
        }

        .plan{
           
            // border: 3px solid whitesmoke;
            border-radius: 0.5rem;
            min-width: 18em;
            min-height: 25em;
            padding: 5vw;
            margin: 1rem auto;

            @include lg {
                margin: 0 1.5rem;
            }

            h1{

                &:first-of-type{
                    margin-bottom: 0.5rem;
                    font-size: 2rem;
                    letter-spacing: 4px;
                    font-family: $bold;
                    margin-top: 2em;
                }

                &:last-of-type{
                    font-size: 2rem!important;
                    margin: 1rem 0;
                    font-family: $font;

                    @include md {
                        font-size: 5rem!important;
                    }
                }
            }

            h2 {
                margin-top: 0.5rem;
                letter-spacing: 4.2px;
                font-size: 1.3rem;
                font-family: $font;
            }

            .border{
                border-bottom: 3px solid white;
                width: 5rem;
            }

            i{
                margin-right: 0.5rem;
            }

            p{  
                margin: 0;
                font-family: $font;


                &:last-of-type{
                    letter-spacing: 4.7px;
                    font-size: 1rem;
                    margin: 0.5rem 0;
    
                    @include md {
                        font-size: 1.3rem;
                    }
                }
            
            }

            // .button{
            //     margin-top: 2em!important;
            // }
            // .planBtn {
            //     background-color: white;
            //     text-align: center;
            //     padding: 0.8rem;
            //     width: 8rem;
            //     color: white;
            //     border-radius: 8rem;
            //     margin-right: auto;
            //     cursor: pointer;
            //     letter-spacing: normal!important;

            //     @include md {
            //         margin: 2rem auto;
            //     }
            // }
        }
    }


    .right-arrow {
        position:absolute;
        top: 65%;
        right: 8%;
        font-size: 2rem;
        color: white;
        z-index: 10;
        cursor: pointer;
        user-select: none;
    }
    
    .left-arrow {
        position:absolute;
        top: 65%;
        left: 8%;
        font-size: 2rem;
        color: white;
        z-index: 10;
        cursor: pointer;
        user-select: none;
    }

}