.sound-container {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: $blue;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;

  @include lg {
    flex-direction: row;
  }

  .superior {
    margin-top: 3rem;
    padding: 0 1rem;
    text-align: left;

    @include md {
      margin: 0;
      padding: none;
    }

    h1 {
      font-size: 2rem;
      // color: white;
      font-family: $bold;
      letter-spacing: 7px;
      margin-bottom: 0;
      cursor: default;

      -webkit-text-stroke: 0.05em $yellow;
      color: transparent;
      background-clip: text;

      @include lg {
        font-size: rem;
      }
    }

    p {
      font-size: 1rem;
      font-family: $font;
      letter-spacing: 5.1px;
      margin-top: 1rem;
      margin-bottom: 2rem;
      max-width: 80vw;
      cursor: default;
      color: white;

      @include lg {
        font-size: 1.2rem;
        max-width: unset;
      }
    }

    // a {
    //     left: 30%;
    //     font-family: $font;

    //     @include md {
    //         left:6%;
    //     }
    // }
  }

  .speakers {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    @include lg {
      width: 30%;
    }

    img {
      width: 100px;

      @include lg {
        width: 200px;
      }
    }
  }

  .scroll {
    position: absolute;
    width: 100%;
    bottom: 7em;
    font-family: $font;
    text-align: center;
    color: black;
    margin-bottom: 1rem;
    opacity: 1;
    // text-shadow: 0px 0px 3px white;

    @include md {
      bottom: 0;
    }

    i {
      font-size: 1.4em;

      @include lg {
        font-size: 2em;
      }
    }
  }
}
