@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

$font: 'Work Sans', sans-serif;
$bold: 'Roboto', sans-serif;
$logo: 'Anton', sans-serif;
