@import './typography';

@import './helper';
@import './viewport';
@import './hero';
@import './sound';
@import './yellow';
@import './black';
@import './blue';
@import './footer';
@import './button';
@import './nav';
@import './payment';
@import './price';



// html{
//     @include md {
//         scroll-snap-type: y mandatory;
//         -webkit-overflow-scrolling: touch;
//     }

// }

html,body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    overflow-x:hidden; 
    overflow-y: auto;
    overflow: hidden;
  

    @include md {
        overflow-x:hidden;
        overflow-y:unset;
        scroll-snap-type: y mandatory;
        -webkit-overflow-scrolling: touch;
    }

    a,a:visited,a:hover,a:focus,a:active {
        text-decoration: none;
        max-width: 14rem;
        max-height: 4rem;
    }

}