@import './typography';

@import './viewport';
@import './hero';
@import './sound';
@import './yellow';
@import './black';
@import './blue';
@import './footer';
@import './button';
@import './nav';
@import './payment';
@import './price';



html{
    overflow-x: hidden; 
    overflow-y: auto;
    @include md {
        scroll-snap-type: y mandatory;
        -webkit-overflow-scrolling: touch;
    }

}

html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    
}